VITE_APP_ENV=local
VITE_APP_NAME=Amanzi ATS
VITE_API_BASE_URL=http://localhost:3003
VITE_PYTHON_WORKER_BASE_URL=http://localhost:8001
VITE_DEV_PROXY_BACKEND_URL=http://127.0.0.1:3003
VITE_DEV_PROXY_PYTHON_WORKER_URL=http://localhost:8001
VITE_DEV_HOST=::
VITE_DEV_PORT=8080
VITE_SECURE_BROWSER_REQUIRED=false
